img {
  
    height: 125px;

  }

  a {
      position: center;
  }



p {
  font-weight: bold;
 text-align: center;
}

td {
    text-align: center;
}

h5{
  text-align: center;
}

.intro {
  background-color: white;
  margin-bottom: 25px;
}

h5 {
  color: #1c7193e8;
}

.icons {
  margin: 25px;
}



