<app-nav-bar></app-nav-bar>
<app-search-box></app-search-box>

<div class="icons">
    <div class="intro">
    <h5>Welcome to the Online Fitness Class Finder!</h5>
    <h5>Find an online class that inspires you on your fitness journey :)</h5>
  </div>
    <hr noshade="">
    <table class="container">
        <tr>
          <!-- <td> -->
            <!-- <a href="/about">
                <img alt="All" src="https://www.flaticon.com/svg/static/icons/svg/834/834693.svg">
                <p>View all Fitness Classes</p>  
              </a> -->
          <!-- <td> -->
          <td>
            <a href="/about">
                <img alt="Search" src="https://www.flaticon.com/svg/static/icons/svg/823/823473.svg">
                <p>Explore Fitness Classes</p>  
              </a>
            </td>
          <td>
            <a href="/login">
                <img alt="Login" src="https://www.flaticon.com/svg/static/icons/svg/2906/2906435.svg">
                <p>Login/Register as an Instructor</p>  
              </a>
                
            </td>
        </tr>
    </table>
</div>
<br>
<br>
