<br>
    <table class = "table">

            <td>
                <img alt="boxing-gloves" src="https://wiki.tripwireinteractive.com/images/4/47/Placeholder.png">
                <p>{{fitnessClass.name}} 
        </p>
         <p>{{fitnessClass.date}} 
        </p>
         <p>{{fitnessClass.time}} 
        </p>
    </td>   
    </table>

    <!-- <div class="block-grid-xs-2 block-grid-sm-3 block-grid-md-4">
    <div>
        <img alt="boxing-gloves" src="https://img.freepik.com/free-photo/pair-red-boxing-gloves-black_134398-4755.jpg?size=626&ext=jpg">
    </div>
    <p>{{fitnessClass.name}} 
    </p>
     <p>{{fitnessClass.date}} 
    </p>
     <p>{{fitnessClass.time}} 
    </p>
</div>
 -->





