
    
    <table class = "table">
        <div class="pointerCursor" [routerLink]="[fitnessClass._id]">
        <td>
        <img alt="placeholderImage" [src]="fitnessClass.pictureUrl">
            <br>
            <div class="fitnessName">
            {{fitnessClass.name}}</div>
            <div>
            {{fitnessClass.date}}
            <br> 
            {{fitnessClass.time}}
        </div>
    </td>  </div> 
    </table>

    <!-- <div class="block-grid-xs-2 block-grid-sm-3 block-grid-md-4">
    <div>
        <img alt="boxing-gloves" src="https://img.freepik.com/free-photo/pair-red-boxing-gloves-black_134398-4755.jpg?size=626&ext=jpg">
    </div>
    <p>{{fitnessClass.name}} 
    </p>
     <p>{{fitnessClass.date}} 
    </p>
     <p>{{fitnessClass.time}} 
    </p>
</div>
 -->





