<!-- <div class="container">

<p></p>

<h3>------------------------------------------</h3>
<h3>Add a new Fitness Class</h3>
<h3>------------------------------------------</h3>

<p>Add Fitness Class Name:</p>
<form class="form" (ngSubmit)="onSubmit()">
    <input type="text" name="name" [(ngModel)]="name" 
    placeholder="Add Fitness Class Name...">

    <p></p>

    <p>Add Class Description:</p>
    <input type="text" name="name" [(ngModel)]="name" 
    placeholder="Class Description...">

    <p></p>

    <p>Date:</p>
    <input type="date" name="name" [(ngModel)]="name" 
    placeholder="Add Fitness Class Date...">

    <p></p>

    <p>Start Time:</p>
    <input type="time" name="name" [(ngModel)]="name" 
    placeholder="Add Fitness Class Time...">

    <p></p>
    
    <p>End Time:</p>
    <input type="time" name="name" [(ngModel)]="name" 
    placeholder="Add Fitness Class Time...">

    <p></p>

    <p>Link to Webinar:</p>
    <input type="url" name="name" [(ngModel)]="name" 
    placeholder="Website Url...">

    <p></p>

    <input type="submit" value="Submit" class="btn">
</form>

<p></p>

</div> -->
<div class="container">
<form class="form" (ngSubmit)="onSubmit()">
    <input type="text" name="name" [(ngModel)]="name" placeholder="Add Fitness Class Name...">
    <input type="text" name="name" [(ngModel)]="description" placeholder="Add Description...">
    <input type="text" name="name" [(ngModel)]="date" placeholder="Add Day...">
    <input type="text" name="name" [(ngModel)]="time" placeholder="Add Time...">
    <input type="text" name="name" [(ngModel)]="webinar" placeholder="Add Url...">
    <input type="submit" value="Submit" class="btn">
  </form></div>