div {
  text-align: center;
  width: 450px;
  background-color: white;
  margin-top: 70px;

}

input {
  text-align: center;
}


h4 {
  color: #1c7193ad;
  font-weight: bold;
}

label {
  color: #1c7193ad;
  font-weight: bold;
  margin-left: 10px;
}

.form-control {
  margin-top: 15px;
  margin-bottom: 20px;
}

button {
  margin-top: 10px;
}
  