<div class="container">
    <form action="/searchResults" class="container">
      <br>
      <h3>Search for a Fitness Class:</h3>
      <input class="form-control" type="text" placeholder="ex.) Skateboarding Pilates..." name="psw" required>
        <br>
        <label>All</label>
        <input type="radio" id="all" name="searchFilter">
        <label>Name of Fitness Class</label>
        <input type="radio" id="name" name="searchFilter">
        <label>Day of Week</label>
        <input type="radio" id="day" name="searchFilter">
        <label>Start time</label>
        <input type="radio" id="time" name="searchFilter">
        <br>
        <button type="submit" class="btn">Search</button>
      
    </form>
    <br>
  </div>
  <br>
