<div class="container">
    <form action="/searchResults" class="container">
      <h4>Search for a Fitness Class:</h4>
      <input class="form-control" type="text" placeholder="Enter Search Keywords Here..." [(ngModel)] ="searchTerm">
        <label>All</label>
        <input type="radio" id="all" name="searchFilter">
        <label>Name of Fitness Class</label>
        <input type="radio" id="name" name="searchFilter">
        <label>Day of Week</label>
        <input type="radio" id="day" name="searchFilter">
        <label>Start time</label>
        <input type="radio" id="time" name="searchFilter">
        <br>
        <button type="submit" class="btn">Search</button>
      
    </form>
    <br>
  </div>
  <br>
