
div {
    text-align: center;
    width: 290px;
    background-color: white;
    margin-top: 50px;
}

input {
    text-align: center;
}

  
  h4 {
    color: #1c7193ad;
    font-weight: bold;
  }
  

