
    <div class="bg-img">
        <!-- <form action="/search-results" class="searchContainer">
        <h2>Search for a Fitness Class: </h2>
        <p> </p>
        <p> </p>
        <p> </p>
        <p> </p>
        <form>
            <input class="form-control mr-sm-2" type="search" placeholder="ex.) Skateboarding Pilates" aria-label="Search">
            <p> </p>
            <p> </p>
            <p> </p>
            <p> </p>
            <button type="submit" class="btn btn-light">Search</button>
        </form>
    </form> -->
</div>
