

<div class="form-group">
    <input type="text" class="form-control" placeholder="Search by Fitness Class Name..."
     [(ngModel)] ="searchTerm">
     <label></label>
     <label>M</label>
     <input type="checkbox" id="Recurring" [(ngModel)] ="searchTerm">
     <label>T</label>
     <input type="checkbox" id="Recurring" [(ngModel)] ="searchTerm">
     <label>W</label>
     <input type="checkbox" id="Recurring" [(ngModel)] ="searchTerm">
     <label>Th</label>
     <input type="checkbox" id="Recurring" [(ngModel)] ="searchTerm">
     <label>F</label>
     <input type="checkbox" id="Recurring" [(ngModel)] ="searchTerm">
     <label>S</label>
     <input type="checkbox" id="Recurring" [(ngModel)] ="searchTerm">
     <label>Su</label>
     <input type="checkbox" id="Recurring" [(ngModel)] ="searchTerm">
     <br>
     <label>Recurring every week:</label>
     <input type="checkbox" id="Recurring" [(ngModel)] ="searchTerm"> 
     <br>
     <!-- <label>Start time:</label>
     <input type="time" id="time" [(ngModel)] ="searchTerm"> -->
</div>



<div class="row">
<app-fitness-classes-item *ngFor="let fitnessClass of filteredClasses" [fitnessClass]="fitnessClass">
</app-fitness-classes-item>
</div>


